$primary-color: #fff6e9;
$primary-color-dark: #f8e9d6;
$secondary-color: #40a2e3;
$third-color: #bbe2ec;
$fourth-color: #bdbdbd;

.slider {
  .img {
    width: 50%;
    height: 300px;
    object-fit: cover;
  }
}
