$primary-color: #fff6e9;
$primary-color-dark: #f8e9d6;
$secondary-color: #40a2e3;
$third-color: #bbe2ec;
$fourth-color: #bbe2ec;

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img {
    object-fit: cover;
  }
  ul {
    padding-inline-start: 0px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  li {
    border-radius: 10px;
    background-color: $secondary-color;
    color: $primary-color;
    display: flex;
    margin: 10px;

    .img {
      padding: 10px;
    }

    .text-container {
      width: 50%;
    }
  }
  li:hover {
    scale: 1.01;
    cursor: pointer;
  }
}
